div {
  background-color: rgb(255, 255, 255, 0.5);

  width: 600px;
  height: 150px;

  padding: 30px;
}

h1 {
  font-size: 2rem;
  color: rgb(237, 106, 125);
}

time {
  font-size: 1.2rem;
  color: rgb(250, 140, 156);
}

p {
  font-size: 1.5rem;
}
