form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 800px;
  padding: 40px;
  border-radius: 40px;

  background-color: rgb(255, 255, 255, 0.5);
}

h1 {
  font-size: 4rem;
}

label,
input,
textarea {
  width: 70%;
  font-size: 1.5rem;
}

label,
input {
  height: 45px;
}

label {
  font-size: 2rem;
}

textarea {
  height: 90px;
}

button,
a {
  margin-top: 20px;
  width: 300px;
  font-size: 1.4rem;
  padding: 20px;
  border-radius: 30px;

  color: rgb(252, 109, 135, 0.6);
  background-color: white;
  border: 3px solid rgb(252, 109, 135, 0.6);
}

button:hover,
a:hover {
  cursor: pointer;

  color: white;
  border: 3px solid white;
  background-color: rgb(252, 109, 135, 0.6);
}

input {
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.25);
  border: 2px solid pink;
}

input:focus {
  outline: none !important;
  border: 3px solid rgb(252, 109, 135);
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.add-user {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 70%;
}

.add-user input {
  margin: 0;
  padding: 0;

  width: 70%;
  height: 50px;
}

.add-user button,
.add-user a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  width: 30%;
  height: 50px;
}
