<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h1>Create Secret Santa</h1>
  <label>Title</label>
  <input id="title" name="title" type="text" ngModel />
  <label>Where to meet</label>
  <input id="place" name="place" type="text" ngModel />
  <label>Add users</label>
  @if(invalidUser() == 1){
  <div style="color: red">
    <p>Invalid User</p>
  </div>
  }
  <div class="add-user">
    <input id="users" name="users" type="text" [(ngModel)]="userEmail" />
    <a (click)="addUser()">add user</a>
  </div>
  <button>Create</button>
  <div>
    <h2 style="font-size: 2.3rem; color: palevioletred">Participans:</h2>
    @for(user of users(); track user.email){
    <li style="font-size: 1.5rem; color: rgb(238, 153, 181)">
      {{ user.name }}
    </li>
    }
  </div>

  @if(invalidForm() == 1){
  <div style="color: red">
    <p>You need to fullfill all fields</p>
  </div>
  }
</form>
